*, *::after, *::before {
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--fontSizeBase);
}

body {
  font-family: var(--fontFamily_principal);
  font-size: var(--fontSizeBase);
  padding-left: var(--paddingSides_body);
  padding-right: var(--paddingSides_body);
  background-color: var(--bgColorBase_principal);
  color: var(--colorPrincipal_text);
}

h1, h2, h3 {
  font-family: var(--fontFamily_titles);
}

li {
  list-style: none;
}
