.card {
  width: min-content;
  border: solid 1.4px var(--bgColorDark_principal);
  background-color: var(--bgColorLight_principal);
  transform: scale(1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0px 4px 8px 2px var(--bgColorDark_principal);
  transform: scale(1.05);
}

.card__image {
  width: 100%;
}

.card__text {
  padding: 0.6em 1.0em 3.0em;
}

.card__text-title {
  font-size: 1.4em;
  padding-left: 0.5em;
  padding-bottom: 0.4em;
  margin-bottom: 1.0em;
  border-bottom: 1px solid var(--bgColorDark_principal);
}

.card__text-descrip {
  font-size: 0.9em;
  line-height: 1.5;
}