/* Logo */
@import url(./Logo.css);

/* NAV */
@import url(./Nav.css);

.header-container {
  display: grid;
  grid-template: auto auto / auto 1fr auto;
  padding: 16px 0 24px 0;
  border-bottom: solid 1px var(--bgColorDark_principal);
}

.header__menu-icon {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__menu-icon:hover {
  cursor: pointer;
}

.header__nav {
  grid-row-start: 2;
  grid-column: 1 / 4;
}

.header__nav--hidden {
  display: none
}

.header__nav--visible {
  display: block
}