@import url(./Card.css);

/* M A I N */
.main-title {
  padding-bottom: var(--fontSize_base);
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  text-align: center;
  line-height: 1.4;
  border-bottom: 1px solid var(--bgColorDark_principal);
}

.cards-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards-service__item {
  margin-bottom: 1.6em;
  min-width: fit-content;
  max-width: 16rem;
  width: 62.5vw;
}

/* A S I D E */
.extra-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1em;
  row-gap: 1.4em;
}

.extra-info__item {
  width: 100%;
  min-width: 15.0rem;
  max-width: 26rem;
  min-height: min-content;
  padding: 0 1em 1em;
}

.abstract-info {
  line-height: 1.8;
}

.abstract-info__title {
  padding-bottom: 0.08em;
  margin-bottom: 1.0em;
  border-bottom: 1px solid var(--bgColorDark_principal);
}

.abstract-info__descrip, .abstract-info__descrip p {
  margin-bottom: 1.6em;
}

.abstract-info-article p:first-child {
  font-weight: bold;
}

.abstract-info__link {
  margin-top: 1.2em;
}

.aux-nav-ul__item {
  display: block;
  line-height: 2.4;
  color: var(--colorBrand_principal);
  font-weight: bold;
}

.aux-nav-ul__item:hover {
  color: var(--colorTitles_principal);
  text-decoration: underline;
  text-shadow: 2px -2px 4px var(--bgColorLight_principal);
}

.aux-nav-ul__item::before {
  content: "";
  display: inline-block;
  background-image: var(--icon_angleRight);
  background-size: var(--fontSize_base) var(--fontSize_base);
  height: var(--fontSize_base);
  width: var(--fontSize_base);
}
