/* Styles based on mobile first. The others in the corresponding media queries */

.logo {
  font-size: 2.4em;
  font-weight: 900;
  font-family: var(--fontFamily_logo);
  color: var(--colorTitles_principal);
}

.logo span:nth-last-child(1) {
  color: var(--colorBrand_principal);
}
