.menu-icon {
  --width-menuIcon__bars: calc(var(--fontSize_base) * 1.5);
  --height-menuIcon__bar: calc(var(--fontSize_base) / 9);
  --height-menuIcon__bars: calc(var(--height-menuIcon__bar) * 8);
  --margin-menuIcon-bar--middle: calc((var(--height-menuIcon__bars) - 3 * var(--height-menuIcon__bar)) / 2);

  display: inline-block;
  width: var(--width-menuIcon__bars);
  height: var(--height-menuIcon__bars);
}

.menu-icon__bar {
  width: var(--width-menuIcon__bars);
  height: var(--height-menuIcon__bar);
  background-color: var(--bgColorDark_principal);
}

.menu-icon__bar--middle {
  margin: var(--margin-menuIcon-bar--middle) 0em;
}