/* Styles based on mobile first. The others in the corresponding media queries */

.menu-icon {
  height: fit-content;
}

.menu-icon:hover {
  background-color: #e6e6e6;
  box-shadow: #8d8d8d 1px 2px 4px 2px;
}

.menu-icon__container {
  --width-menuIcon__bars: calc(var(--fontSize_base) * 2.0);
  --height-menuIcon__bar: calc(var(--fontSize_base) / 6);
  --height-menuIcon__bars: calc(var(--height-menuIcon__bar) * 8);
  --margin-menuIcon-bar--middle: calc((var(--height-menuIcon__bars) - 3 * var(--height-menuIcon__bar)) / 2);

  display: inline-block;
  width: var(--width-menuIcon__bars);
  height: var(--height-menuIcon__bars);
}

.menu-icon__bar {
  width: var(--width-menuIcon__bars);
  height: var(--height-menuIcon__bar);
  background-color: var(--bgColorDark_principal);
}

.menu-icon__bar--middle {
  margin: var(--margin-menuIcon-bar--middle) 0em;
}