.nav {
  display: flex;
  flex-direction: column;
}

.nav__item {
  width: 100%;
  padding: 0.4em 0em;
  text-transform: capitalize;
  text-align: center;
  line-height: 21px;
  letter-spacing: 1.75px;
}

.nav__item:hover {
  color: var(--bgColorBase_principal);
  background-color: var(--colorAlerts_principal);
}