.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  display: inline-block;
  font-size: 1.125rem;
  width: 100%;
  padding: 0.4rem 1.4rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 21px;
  letter-spacing: 1.75px;
}

.nav__item:hover {
  font-weight: bold;
  color: var(--bgColorBase_principal);
  background-color: var(--colorAlerts_principal);
}