@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap');


:root {
  --bgColorBase_principal: #f5f5f5;
  --bgColorDark_principal: #9c9c9c;
  --bgColorLight_principal: #fff;

  --colorTitles_principal: #3e3e3e;
  --colorBrand_principal: #db5130;
  --colorAlerts_principal: #f00;
  --colorTexts_principal: #555;
  --colorText_random1: #5083ae;
  --colorText_random2: #6da0a1;
  --colorText_random3: #deb164;
  --colorText_random4: #be5d45;

  --colorLinesDivision_principal: #f3f3f3;

  --paddingSides_body: 20px;

  --fontSize_base--minimus: 16px;
  --fontSize_base: var(--fontSize_base--minimus);
  --fontFamily_principal: "Roboto", sans-serif;
  --fontFamily_titles: 'PT Sans', "Ubuntu", sans-serif;
  --fontFamily_logo: 'Bellota', cursive;
}