@media screen {
  .header-container {
    grid-template: auto / auto 1fr;
  }

  .header__menu-icon {
    display: none;
  }

  .header__nav {
    grid-row-start: 1;
    grid-column: 2 / 3;
    margin: auto 0 auto auto;
  }

  .header__nav--hidden {
    display: block;
  }

  .nav-btn {
    width: fit-content;
  }

  .nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav__item {
    width: auto;
    margin: 0 0.6rem;
  }

  .main-title_descrip {
    font-size: 1.8em;
  }

  .cards-service {
    justify-content: space-between;
  }

  .cards-service__item {
    width: 22vw;
  }

  .extra-info {
    grid-template-columns: repeat(2, 1fr) 1.06fr;
    grid-template-rows: 1fr;
    column-gap: 1.4em;
  }

  .extra-info__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9em;
  }
}